* {
  box-sizing: border-box;
  font-family: "Shantell Sans", cursive;
}
:root {
  --color-background: #024561;
  --color-transparent: rgba(28, 28, 28, 0);
}
button {
  cursor: pointer;
}
body {
  background-color: var(--color-background);
}

.hello_container {
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: bottom left;
}
.hello_container__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello__gif {
  width: 80vw;
  height: 80vh;
  margin-top: 100px;
}
.container {
  background-image: url(../img/moon.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: bottom left;
  background-size: 77vw;
}
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  width: 95vw;
  height: 100vh;
}
.star {
  opacity: 0;
  animation-name: visibility;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
  z-index: -6;
}
.stars1 {
  width: 39px;
  height: 42px;
  background: url(../img/star1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 44.6vh;
  left: 40.3vw;
  z-index: 5;
}
.stars1_blur {
  width: 39px;
  height: 42px;
  background: url(../img/star1blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 44.6vh;
  left: 40.3vw;
  animation-name: stars;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars2 {
  width: 39px;
  height: 38px;
  background: url(../img/star2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 36.6vh;
  left: 49.3vw;
  z-index: 5;
}
.stars2_blur {
  width: 39px;
  height: 38px;
  background: url(../img/star2blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 36.6vh;
  left: 49.3vw;
  animation-name: stars;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars3 {
  width: 39px;
  height: 38px;
  background: url(../img/star2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 35.6vh;
  left: 58.3vw;
  z-index: 5;
}
.stars3_blur {
  width: 39px;
  height: 38px;
  background: url(../img/star2blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 35.6vh;
  left: 58.3vw;
  animation-name: stars;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars4 {
  width: 39px;
  height: 38px;
  background: url(../img/star2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 29.6vh;
  left: 64.3vw;
  z-index: 5;
}
.stars4_blur {
  width: 39px;
  height: 38px;
  background: url(../img/star2blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 29.6vh;
  left: 64.3vw;
  animation-name: stars;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars5 {
  width: 39px;
  height: 38px;
  background: url(../img/star2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 33.6vh;
  left: 68.3vw;
  z-index: 5;
}
.stars5_blur {
  width: 39px;
  height: 38px;
  background: url(../img/star2blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 33.6vh;
  left: 68.3vw;
  animation-name: stars;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars6 {
  width: 39px;
  height: 38px;
  background: url(../img/star2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 3.6vh;
  left: 72.3vw;
  z-index: 5;
}
.stars6_blur {
  width: 39px;
  height: 38px;
  background: url(../img/star2blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 3.6vh;
  left: 72.3vw;
  animation-name: stars;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars7 {
  width: 106px;
  height: 106px;
  background: url(../img/star1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 41.6vh;
  left: 95.3vw;
  z-index: 5;
}
.stars7_blur {
  width: 106px;
  height: 106px;
  background: url(../img/star1blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 41.6vh;
  left: 95.3vw;
  animation-name: stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars8 {
  width: 80px;
  height: 80px;
  background: url(../img/star3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 11.6vh;
  left: 59.3vw;
  z-index: 5;
}
.stars8_blur {
  width: 80px;
  height: 80px;
  background: url(../img/star3blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 11.6vh;
  left: 59.3vw;
  animation-name: stars;
  animation-duration: 2.35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars9 {
  width: 80px;
  height: 80px;
  background: url(../img/star3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 8.6vh;
  left: 63.3vw;
  z-index: 5;
}
.stars9_blur {
  width: 80px;
  height: 80px;
  background: url(../img/star3blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 8.6vh;
  left: 63.3vw;
  animation-name: stars;
  animation-duration: 2.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars10 {
  width: 106px;
  height: 106px;
  background: url(../img/star3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 13.6vh;
  left: 66.3vw;
  z-index: 5;
}
.stars10_blur {
  width: 106px;
  height: 106px;
  background: url(../img/star3blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 13.6vh;
  left: 66.3vw;
  animation-name: stars;
  animation-duration: 2.15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars11 {
  width: 106px;
  height: 106px;
  background: url(../img/star3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 22.6vh;
  left: 67.3vw;
  z-index: 5;
}
.stars11_blur {
  width: 106px;
  height: 106px;
  background: url(../img/star3blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 22.6vh;
  left: 67.3vw;
  animation-name: stars;
  animation-duration: 2.45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars12 {
  width: 80px;
  height: 80px;
  background: url(../img/star3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 23.6vh;
  left: 71.3vw;
  z-index: 5;
}
.stars12_blur {
  width: 80px;
  height: 80px;
  background: url(../img/star3blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 23.6vh;
  left: 71.3vw;
  animation-name: stars;
  animation-duration: 2.35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars13 {
  width: 80px;
  height: 80px;
  background: url(../img/star3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 25.6vh;
  left: 74.3vw;
  z-index: 5;
}
.stars13_blur {
  width: 80px;
  height: 80px;
  background: url(../img/star3blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 25.6vh;
  left: 74.3vw;
  animation-name: stars;
  animation-duration: 2.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars14 {
  width: 80px;
  height: 80px;
  background: url(../img/star3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 21.6vh;
  left: 77.3vw;
  z-index: 5;
}
.stars14_blur {
  width: 80px;
  height: 80px;
  background: url(../img/star3blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 21.6vh;
  left: 77.3vw;
  animation-name: stars;
  animation-duration: 2.15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.stars15 {
  width: 130px;
  height: 130px;
  background: url(../img/star3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: fixed;
  top: 23.6vh;
  left: 81.3vw;
  z-index: 5;
}
.stars15_blur {
  width: 130px;
  height: 130px;
  background: url(../img/star3blur.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 23.6vh;
  left: 81.3vw;
  animation-name: stars;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}
.comet {
  width: 50vw;
  height: 50vh;
  background: url(../img/Комета.gif);
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: -67vw;
  top: -43vh;
  animation-name: cometFly;
  animation-duration: 240s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -5;
}

.ufo {
  width: 30vw;
  height: 30vh;
  background: url(../img/UFO.gif);
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 38vw;
  top: -65vh;
  animation-name: ufoFly;
  animation-duration: 240s;
  animation-delay: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -6;
}

.shrek {
  z-index: 3;
  opacity: 0;
  position: absolute;
  left: 34.5vw;
  bottom: 4.3vw;
  width: 13vw;
  height: 13vh;
  animation-name: visibilityShrek;
  animation-duration: 1s;
  /*animation-iteration-count: infinite;*/
  animation-timing-function: linear;
  transform: rotate(27deg);
}

.shrek2 {
  z-index: 3;
  opacity: 0;
  position: absolute;
  left: 34.5vw;
  bottom: 4.3vw;
  width: 13vw;
  height: 13vh;
  animation-name: visibilityShrek;
  animation-duration: 1s;
  /*animation-iteration-count: infinite;*/
  animation-timing-function: linear;
  transform: rotate(27deg);
}
.container-main__navigation {
  display: flex;
  justify-content: space-between;
}
.navigation__home {
  opacity: 0;
  width: 5vw;
  height: 10vh;
  background-image: url(../img/House.svg);
  background-color: var(--color-transparent);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0;
  animation-name: size;
  animation-duration: 1s;
  animation-delay: 1.9s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  z-index: 8;
}
.clear {
  background-image: url(../img/House_action.svg), url(../img/blur.svg);
  background-color: var(--color-transparent);
  background-repeat: no-repeat;
  border: 0;
  background-position: center, center;
  width: 5vw;
  height: 10vh;
}
.navigation__keyboard {
  opacity: 0;
  width: 5vw;
  height: 10vh;
  background-image: url(../img/keyboard.svg);
  background-color: var(--color-transparent);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0;
  animation-name: size;
  animation-delay: 2.4s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  z-index: 8;
}
.click {
  background-image: url(../img/keyboard_action.svg), url(../img/blur.svg);
  background-position: center, center;
  width: 5vw;
  height: 10vh;
  background-color: var(--color-transparent);
  background-repeat: no-repeat;
  border: 0;
}
.container-main__neznayka {
  left: 5vh;
  bottom: 222px;
  display: flex;
  justify-content: space-between;
  width: 84vw;
  height: 79vh;
}
.neznayka__image {
  opacity: 0;
  position: relative;
  bottom: 7vh;
  left: -2vw;
  width: 47vw;
  height: 82vh;
  animation-name: visibility;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 2.9s;
  animation-timing-function: linear;
}
.microphone_start {
  opacity: 0;
  background-image: url(../img/microphone_earth.svg), url(../img/microphone_handle.svg);
  background-repeat: no-repeat;
  background-position: left top, bottom right;
  background-color: var(--color-transparent);
  background-size: 8vw;
  border: 0;
  width: 11.5vw;
  height: 33vh;
  position: fixed;
  bottom: 0vw;
  right: 0vh;

  animation-name: visibilityMicro;
  animation-duration: 1s;
  animation-delay: 8.9s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.microphone_stop {
  background-color: var(--color-transparent);
  background-size: 8vw;
  border: 0;
  width: 11.5vw;
  height: 30vh;
  position: fixed;
  bottom: 0vw;
  right: 0vh;
}
.microphone_handle {
  background-image: url(../img/microphone_handle.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 8vw;
  border: 0;
  width: 11.5vw;
  height: 30vh;
  position: fixed;
  bottom: 0vw;
  right: 0vh;
}
.microphone_earth {
  background-image: url(../img/microphone_earth.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-color: var(--color-transparent);
  background-size: 8vw;
  border: 0;
  width: 8.5vw;
  height: 8.5vw;
  position: fixed;
  bottom: 15vh;
  right: 3vw;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.neznayka__text {
}

.neznayka__answer {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 4vh;
  margin-left: 11vh;
  color: #000;
  font-family: Shantell Sans;
  font-size: calc(37px + 43 * (100vw / 3840));
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 22vw;
  height: 17vh;
  /* overflow-y: scroll;*/
}
.neznayka__answer::-webkit-scrollbar {
  width: 0;
}
.neznayka__question {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #000;
  font-family: Shantell Sans;
  /* font-size: 80px; */
  font-size: calc(37px + 43 * (100vw / 3840));
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* padding-left: 2vw; */
  /* padding-top: 2vw; */
  /* padding-right: 3vw; */
  width: 22vw;
  height: 16vh;
  margin-top: 3vh;
  margin-left: 3vh;
  /* overflow-y: scroll;*/
}
.neznayka__question::-webkit-scrollbar {
  width: 0;
}
.answer_blob {
  opacity: 0;
  background-image: url(../img/dialog-Незнайка.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: 33vh;
  position: fixed;
  right: 36vw;
  bottom: 40vh;

  animation-name: sizeText;
  animation-duration: 1s;
  animation-delay: 7.9s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.qustion_blob {
  opacity: 100;
  background-image: url(../img/dialog-user.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: 30vh;
  position: fixed;
  right: 2vw;
  bottom: 33vh;
  transition: transform 0.5s;
  transform: scale(0);

  /* animation-name: sizeTextQuestion;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;*/
}

.container_keyboard {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 30px 30px 0px 0px;
  border: 4px solid var(---black, #000);
  background: #d9e5ea;
  width: 95vw;
  height: 63vh;
  z-index: 88;
}
.keyboard_text {
  display: flex;
  margin-top: 20px;
}
.inputText {
  padding-left: 15px;
  outline: none;
  width: 1117px;
  height: 174px;
  color: #000;
  font-family: Shantell Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  background-color: var(--color-transparent);
  border: 0;
  background-image: url(../img/OBJECTS\ text.png);
}
.inputSend {
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(../img/отправить.svg);
  width: 71.127px;
  height: 72.7px;
  background-color: var(--color-transparent);
  border: 0;
  margin: 25px;
  margin-top: 45px;
}
.inputClose {
  margin-top: 5px;
  background-image: url(../img/крестик.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-transparent);
  border: 0;

  width: 32.477px;
  height: 28px;
}

#keyboard {
}
.key {
  display: flex;
  width: 83px;
  height: 79px;
  justify-content: center;
  align-items: center;
  margin: 8px;

  float: left;
  border-left: 2px solid #000;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  border-right: 8px solid #000;
  border-radius: 50%;
  background: #024561;

  color: #fff;
  text-align: center;
  font-family: Shantell Sans;
  font-size: 36.307px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.key:nth-child(13) {
  background-image: url(../img/back\ Key.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.keys:nth-child(13) {
  background: #71a3b7;
  transition: transform 0.5s;
}

.key:nth-child(27) {
  background-image: url(../img/Arrow\ right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  opacity: 0.5;
}
.key:nth-child(29) {
  background-image: url(../img/Arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.key:nth-child(41) {
  background-image: url(../img/Arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.key:last-child {
  width: -webkit-fill-available;
  border-radius: 25px;
  background: #71a3b7;
}

.pressKey {
  background: #f9ef6c;
  color: #000;
  transition: transform 0.5s;
}
.clearfix {
  width: 100%;
  clear: both;
}
.hidden {
  display: none;
  transition: transform 0.5s;
}
.wait {
  display: none;
}
.opacity {
  opacity: 100;
  transition: transform 0.5s;
}
.pulse {
  animation-name: sizeMicro;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes visibilityShrek {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes size {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sizeText {
  0% {
    transform: scale(0);
    right: 44vw;
    bottom: 15vh;
  }
  80% {
    transform: scale(1.1);
    right: 36vw;
    bottom: 40vh;
  }
  100% {
    transform: scale(1);
    right: 36vw;
    bottom: 40vh;
  }
}
@keyframes sizeTextQuestion {
  0% {
    transform: scale(0);
    bottom: 4vh;
    right: -21vw;
  }
  80% {
    transform: scale(1.1);
    right: 2vw;
    bottom: 31vh;
  }
  100% {
    transform: scale(1);
    right: 2vw;
    bottom: 31vh;
  }
}
@keyframes visibilityMicro {
  0% {
    transform: scale(0);
    bottom: -15vw;
    right: -15vh;
  }
  100% {
    transform: scale(1);
    bottom: 0vw;
    right: 0vh;
  }
}
@keyframes sizeMicro {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes cometFly {
  0% {
    right: -67vw;
    top: -43vh;
  }
  1.2% {
    right: 74vw;
    top: 95vh;
  }
  100% {
    right: 74vw;
    top: 114vh;
  }
}
@keyframes ufoFly {
  0% {
    right: 38vw;
    top: -65vh;
  }
  1.6% {
    right: 45vw;
    top: 4vh;
  }
  1.9% {
    right: 39vw;
    top: 26vh;
  }
  2.2% {
    right: 23vw;
    top: 45vh;
  }
  2.5% {
    right: 7vw;
    top: 52vh;
  }
  2.8% {
    right: -5vw;
    top: 45vh;
    transform: scale(1.1);
  }
  3.1% {
    right: -1vw;
    top: 32vh;
    transform: scale(1.2);
  }
  3.4% {
    right: 9vw;
    top: 23vh;
    transform: scale(1.3);
  }
  3.7% {
    right: 17vw;
    top: 34vh;
    transform: scale(1.2);
  }
  4% {
    right: 12vw;
    top: 50vh;
    transform: scale(1.1);
  }
  4.3% {
    right: -2vw;
    top: 42vh;
  }
  4.6% {
    right: -5vw;
    top: 44vh;
    transform: scale(0.9);
  }
  4.9% {
    right: -16vw;
    top: 34vh;
    transform: scale(0.8);
  }
  5.2% {
    right: -33vw;
    top: 22vh;
    transform: scale(0.7);
  }
  100% {
    right: -53vw;
    top: 53vh;
    transform: scale(0.4);
  }
}
@media (max-width: 1920px) {
  .neznayka__image {
    left: -1vw;
    width: 43vw;
    height: 80vh;
  }
  .neznayka__question {
    font-size: calc(37px + (43 + 43 * 0.7) * ((100vw - 1920px) / 3840));
  }
  .neznayka__answer {
    font-size: calc(37px + (43 + 43 * 0.7) * ((100vw - 1920px) / 3840));
  }
  .comet {
    width: 30vw;
    height: 30vh;
  }
  .ufo {
    width: 25vw;
    height: 25vh;
  }
  .container_keyboard {
    width: 75vw;
    height: 63vh;
  }
  .stars1 {
    transform: scale(0.3);
  }
  .stars1_blur {
    transform: scale(0.3);
  }
  .stars2 {
    transform: scale(0.3);
  }
  .stars2_blur {
    transform: scale(0.3);
  }
  .stars3 {
    transform: scale(0.3);
  }
  .stars3_blur {
    transform: scale(0.3);
  }
  .stars4 {
    transform: scale(0.3);
  }
  .stars4_blur {
    transform: scale(0.3);
  }
  .stars5 {
    transform: scale(0.3);
  }
  .stars5_blur {
    transform: scale(0.3);
  }
  .stars6 {
    transform: scale(0.3);
  }
  .stars6_blur {
    transform: scale(0.3);
  }
  .stars7 {
    transform: scale(0.5);
  }
  .stars7_blur {
    transform: scale(0.5);
  }
  .stars8 {
    transform: scale(0.4);
  }
  .stars8_blur {
    transform: scale(0.4);
  }
  .stars9 {
    transform: scale(0.4);
  }
  .stars9_blur {
    transform: scale(0.4);
  }
  .stars10 {
    transform: scale(0.4);
  }
  .stars10_blur {
    transform: scale(0.4);
  }
  .stars11 {
    transform: scale(0.4);
  }
  .stars11_blur {
    transform: scale(0.4);
  }
  .stars12 {
    transform: scale(0.4);
  }
  .stars12_blur {
    transform: scale(0.4);
  }
  .stars13 {
    transform: scale(0.4);
  }
  .stars13_blur {
    transform: scale(0.4);
  }
  .stars14 {
    transform: scale(0.4);
  }
  .stars14_blur {
    transform: scale(0.4);
  }
  .stars15 {
    transform: scale(0.55);
  }
  .stars15_blur {
    transform: scale(0.55);
  }
}
@media (max-width: 2048px) {
  .container_keyboard {
    width: 68vw;
    height: 58vh;
  }
  .neznayka__answer {
    font-size: calc(14px + 43 * (100vw / 3840));
  }
  .neznayka__question {
    font-size: calc(14px + 43 * (100vw / 3840));
  }
  .stars1 {
    transform: scale(0.5);
  }
  .stars1_blur {
    transform: scale(0.5);
  }
  .stars2 {
    transform: scale(0.5);
  }
  .stars2_blur {
    transform: scale(0.5);
  }
  .stars3 {
    transform: scale(0.5);
  }
  .stars3_blur {
    transform: scale(0.5);
  }
  .stars4 {
    transform: scale(0.5);
  }
  .stars4_blur {
    transform: scale(0.5);
  }
  .stars5 {
    transform: scale(0.5);
  }
  .stars5_blur {
    transform: scale(0.5);
  }
  .stars6 {
    transform: scale(0.5);
  }
  .stars6_blur {
    transform: scale(0.5);
  }
  .stars7 {
    transform: scale(0.7);
  }
  .stars7_blur {
    transform: scale(0.7);
  }
  .stars8 {
    transform: scale(0.6);
  }
  .stars8_blur {
    transform: scale(0.6);
  }
  .stars9 {
    transform: scale(0.6);
  }
  .stars9_blur {
    transform: scale(0.6);
  }
  .stars10 {
    transform: scale(0.6);
  }
  .stars10_blur {
    transform: scale(0.6);
  }
  .stars11 {
    transform: scale(0.6);
  }
  .stars11_blur {
    transform: scale(0.6);
  }
  .stars12 {
    transform: scale(0.6);
  }
  .stars12_blur {
    transform: scale(0.6);
  }
  .stars13 {
    transform: scale(0.6);
  }
  .stars13_blur {
    transform: scale(0.6);
  }
  .stars14 {
    transform: scale(0.6);
  }
  .stars14_blur {
    transform: scale(0.6);
  }
  .stars15 {
    transform: scale(0.75);
  }
  .stars15_blur {
    transform: scale(0.75);
  }
}

@media (max-height: 1080px) {
  .microphone_start {
    height: 33vh;
  }
  .container_keyboard {
    height: 65vh;
    width: 71vw;
  }
}
@media (min-height: 1080px) {
  .microphone_start {
    height: 29vh;
  }
  .container_keyboard {
    height: 56vh;
  }
}
@media (min-width: 3500px) {
  .container_keyboard {
    width: 57vw;
    height: 47vh;
  }
  #keyboard {
    width: 50vw;
  }
  .key {
    width: 3.4vw;
    height: 6vh;
  }
  .inputText {
    background-size: contain;
    background-repeat: no-repeat;
    width: 46vw;
    height: 14vh;
  }
}
@media (max-width: 1440px) {
  .stars1 {
    transform: scale(0.2);
  }
  .stars1_blur {
    transform: scale(0.2);
  }
  .stars2 {
    transform: scale(0.2);
  }
  .stars2_blur {
    transform: scale(0.2);
  }
  .stars3 {
    transform: scale(0.2);
  }
  .stars3_blur {
    transform: scale(0.2);
  }
  .stars4 {
    transform: scale(0.2);
  }
  .stars4_blur {
    transform: scale(0.2);
  }
  .stars5 {
    transform: scale(0.2);
  }
  .stars5_blur {
    transform: scale(0.2);
  }
  .stars6 {
    transform: scale(0.2);
  }
  .stars6_blur {
    transform: scale(0.2);
  }
  .stars7 {
    transform: scale(0.4);
  }
  .stars7_blur {
    transform: scale(0.4);
  }
  .stars8 {
    transform: scale(0.3);
  }
  .stars8_blur {
    transform: scale(0.3);
  }
  .stars9 {
    transform: scale(0.3);
  }
  .stars9_blur {
    transform: scale(0.3);
  }
  .stars10 {
    transform: scale(0.3);
  }
  .stars10_blur {
    transform: scale(0.3);
  }
  .stars11 {
    transform: scale(0.3);
  }
  .stars11_blur {
    transform: scale(0.3);
  }
  .stars12 {
    transform: scale(0.3);
  }
  .stars12_blur {
    transform: scale(0.3);
  }
  .stars13 {
    transform: scale(0.3);
  }
  .stars13_blur {
    transform: scale(0.3);
  }
  .stars14 {
    transform: scale(0.3);
  }
  .stars14_blur {
    transform: scale(0.3);
  }
  .stars15 {
    transform: scale(0.45);
  }
  .stars15_blur {
    transform: scale(0.45);
  }
  .neznayka__image {
    left: -5vw;
    width: 47vw;
    height: 64vh;
    top: 6vh;
  }
  .answer_blob {
    right: 37vw;
    bottom: 40vh;
  }
  .qustion_blob {
    bottom: 14vh;
  }
  .neznayka__question {
    height: 11vh;
    font-size: calc(9px + 43 * (100vw / 3840));
  }
  .neznayka__answer {
    top: 23vh;
    left: 29vw;
    height: 10vh;
    font-size: calc(9px + 43 * (100vw / 3840));
  }
  .microphone_start {
    height: 22vh;
  }
  .microphone_earth {
    bottom: 11vh;
  }
  .container_keyboard {
    width: 100vw;
  }
  @keyframes sizeText {
    0% {
      transform: scale(0);
      right: 44vw;
      bottom: 15vh;
    }
    80% {
      transform: scale(1.1);
      right: 37vw;
      bottom: 40vh;
    }
    100% {
      transform: scale(1);
      right: 37vw;
      bottom: 40vh;
    }
  }
}
@media (max-height: 980px) {
  .microphone_start {
    height: 32vh;
  }
}
@media (max-height: 900px) {
  .microphone_start {
    height: 34vh;
  }
}
@media (max-height: 820px) {
  .microphone_start {
    height: 38vh;
  }
}
/*:root {
    --color-background: red;
  }*/
