* {
  box-sizing: border-box;
}
:root {
  --color-background: #096084;
  --color-transparent: rgba(28, 28, 28, 0);
}
button {
  cursor: pointer;
}
body {
  background-color: var(--color-background);
}

.hello_container {
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: bottom left;
}
.hello_container__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello__gif {
  width: 80vw;
  height: 70vh;
  margin-top: 100px;
}

.container {
  background-image: url(../img/moon.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: bottom left;
}
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  width: 95vw;
  height: 100vh;
}
.star {
  opacity: 0;
  animation-name: visibility;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: linear;
}
.stars1 {
  width: 50px;
  height: 50px;
  background: url(../img/Star\ 6.svg);
  background-repeat: no-repeat;
  position: fixed;
  top: 13%;
  left: 33%;
  animation-name: stars;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.stars2 {
  width: 50px;
  height: 50px;
  background: url(../img/Star\ 2.svg);
  background-repeat: no-repeat;
  position: fixed;
  top: 9%;
  left: 72%;
  animation-name: stars;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.stars3 {
  width: 50px;
  height: 50px;
  background: url(../img/Star\ 1.svg);
  background-repeat: no-repeat;
  position: fixed;
  top: 39%;
  left: 38%;
  animation-name: stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.stars4 {
  width: 50px;
  height: 50px;
  background: url(../img/Star\ 3.svg);
  background-repeat: no-repeat;
  position: fixed;
  top: 32%;
  left: 82%;
  animation-name: stars;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.stars5 {
  width: 50px;
  height: 50px;
  background: url(../img/Star\ 7.svg);
  background-repeat: no-repeat;
  position: fixed;
  top: 67%;
  left: 72%;
  animation-name: stars;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.container-main__navigation {
  display: flex;
  justify-content: space-between;
}
.navigation__home {
  opacity: 0;
  width: 110px;
  height: 110px;
  background-image: url(../img/House.svg);
  background-color: var(--color-transparent);
  background-repeat: no-repeat;
  border: 0;
  margin-top: 10px;
  animation-name: size;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.navigation__keyboard {
  opacity: 0;
  width: 110px;
  height: 110px;
  background-image: url(../img/keyboard.svg);
  background-color: var(--color-transparent);
  background-repeat: no-repeat;
  border: 0;
  margin-top: 20px;
  animation-name: size;
  animation-delay: 2.5s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.container-main__neznayka {
  left: 5vh;
  bottom: 222px;
  display: flex;
  justify-content: space-between;
  width: 84vw;
}
.neznayka__image {
  opacity: 0;
  position: relative;
  bottom: 23vh;
  left: 0vw;
  width: 600px;
  height: 600px;
  animation-name: visibility;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-timing-function: linear;
}
.microphone_start {
  opacity: 0;
  background-image: url(../img/microphone_earth.svg), url(../img/microphone_handle.svg);
  background-repeat: no-repeat;
  background-position: left top, bottom right;
  background-color: var(--color-transparent);
  border: 0;
  width: 144px;
  height: 200px;
  position: fixed;
  bottom: -5px;
  right: 30px;

  animation-name: visibilityMicro;
  animation-duration: 1s;
  animation-delay: 9s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.microphone_stop {
  background-color: var(--color-transparent);
  border: 0;
  width: 144px;
  height: 200px;
  position: fixed;
  bottom: -5px;
  right: 30px;
}
.microphone_handle {
  background-image: url(../img/microphone_handle.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  border: 0;
  width: 144px;
  height: 144px;
  position: fixed;
  bottom: -5px;
  right: 30px;
}
.microphone_earth {
  background-image: url(../img/microphone_earth.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-color: var(--color-transparent);
  border: 0;
  width: 95px;
  height: 95px;
  position: fixed;
  bottom: 100px;
  right: 80px;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.neznayka__text {
}
.neznayka__answer {
  opacity: 0;
  background-image: url(../img/dialog-Незнайка.png);
  background-repeat: no-repeat;
  width: 470px;
  height: 242px;
  position: relative;
  right: 16vw;
  bottom: 25vh;

  color: #000;
  font-family: Shantell Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 40px;

  animation-name: sizeText;
  animation-duration: 1s;
  animation-delay: 8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.neznayka__question {
  opacity: 0;
  background-image: url(../img/dialog-user.png);
  background-repeat: no-repeat;
  width: 470px;
  height: 242px;
  position: fixed;
  bottom: 38vh;
  left: 56vw;

  color: #000;
  font-family: Shantell Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 40px;

  animation-name: sizeTextQuestion;
  animation-duration: 1s;
  animation-delay: 9s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.hidden {
  display: none;
}
.opacity {
  opacity: 100;
}
.pulse {
  animation-name: sizeMicro;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stars {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 75% 75%;
  }
  40% {
    background-position: 50% 50%;
  }
  60% {
    background-position: 30% 90%;
  }
  80% {
    background-position: 75% 25%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes size {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sizeText {
  0% {
    transform: scale(0);
    right: 25vw;
    bottom: 15vh;
  }
  80% {
    transform: scale(1.1);
    right: 16vw;
    bottom: 25vh;
  }
  100% {
    transform: scale(1);
    right: 16vw;
    bottom: 25vh;
  }
}
@keyframes sizeTextQuestion {
  0% {
    transform: scale(0);
    bottom: 20vh;
    left: 70vw;
  }
  80% {
    transform: scale(1.1);
    bottom: 38vh;
    left: 56vw;
  }
  100% {
    transform: scale(1);
    bottom: 38vh;
    left: 56vw;
  }
}
@keyframes visibilityMicro {
  0% {
    transform: scale(0);
    bottom: -100px;
    right: -30px;
  }
  100% {
    transform: scale(1);
    bottom: -5px;
    right: 30px;
  }
}
@keyframes sizeMicro {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.answer {
  border-radius: 12px;
  border: 2px solid #e5effa;
  opacity: 0.8;
  background: #f2f9ff;
  box-shadow: 25px 28px 66px 0px rgba(176, 195, 210, 0.73);

  color: rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 322px;
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 23px;
  margin-bottom: 96px;
}
.svg {
  background-image: url(../img/VectorLineGray.svg), url(../img/VectorLine.svg);
  width: 35vh;
  height: 85px;
  background-repeat: repeat-x;
  margin-bottom: 5px;
  animation-name: slideSVG;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 50% 100%;
}
@keyframes slideSVG {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.voice__start {
  width: 92px;
  height: 92px;
  border: 0;
  border-radius: 101.5px;
  background-color: #fff;
  box-shadow: 0px 44px 66px 0px rgba(176, 195, 210, 0.73);

  background-image: url(../img/Vector0.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: none;
  margin-top: 88px;
}
.voice__stop {
  width: 92px;
  height: 92px;
  border: 0;
  border-radius: 101.5px;
  background-color: #fff;
  box-shadow: 0px 44px 66px 0px rgba(176, 195, 210, 0.73);

  background-color: #ff6945;
  background-image: url(../img/Vector1.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: none;
}
.voice__success {
  width: 92px;
  height: 92px;
  border: 0;
  border-radius: 101.5px;
  background-color: #fff;
  box-shadow: 0px 44px 66px 0px rgba(176, 195, 210, 0.73);

  background-color: #e0fb52;
  background-image: url(../img/Vector2.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: none;
  margin-top: 88px;
}
.click {
  color: #000000;
  text-align: center;
  font-family: Arimo;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding-right: 15px;
}
.hidden {
  display: none;
}
.player {
  margin-top: 25px;
}*/
